#stuff-for-hr {

  li {
    display: inline-block;
    margin: .5em;
    
    button {
      color: black;
      cursor: default;
    }

    .btn-lang {
      background: #0f0
    }
    
    .btn-lib {
      background: magenta
    }

    .btn-devops {
      background: cyan 
    }
  
  }

}
