#about-me.about-me-container
  h1
    i.fa.fa-info
    |  Stuff About Me
  .project.content
    .project-image
      img#me(src='../images/me.gif', alt='Logo image')
    .about-me-content
      p
        | I graduated from NYU with a degree in politics, economics, and Chinese. Of course, my next step was to become a web developer. I completed General Assembly's "Web Development Immersive" program and was hired soon after by Bloomberg Businessweek, where I'm currently an editorial developer. I make interactives, data visualizations, and assorted editorial tools using NodeJS, Ruby on Rails, D3js, AngularJS, and a bunch of other toys. Say hi on my 
        a(href='http://www.tilde.club/~dylan/#/') tilde club page.