#about-me.about-me-container
  h1
    i.fa.fa-info
    |  Stuff About Me
  .project.content
    .project-image
      img#me(src=require('./../img/me.gif'), alt='Logo image')
    .about-me-content
      p
        | I'm Dylan. I develop applications and infrastructure for 
        a(href='http://www.hcsafety.com') Human Condition Safety. 
        | Only rarely do I YOLO code into production.
        | Prior to my current job, I worked as an editorial developer
        | at Bloomberg Businessweek, where I worked closely with people who 
        | saw Michael Bloomberg at the company picnic.
        | In my spare time, I tell people exactly how much 
        a(href='https://twitter.com/umpireauditor') umpires suck. 
        | Say hi on my 
        a(href='http://www.tilde.club/~dylan/#/') tilde club page.

