header.navigation
  .navigation-wrapper
    a#js-mobile-menu.navigation-menu-button(href='javascript:void(0)') MENU
    h1.nav-name DYLAN YEP
    .nav
      ul.js-navigation-menu.navigation-menu.show
        li.nav-link.name
          a.scroll-on-page-link(href='#about-me') DYLAN YEP
        li.nav-link
          a.scroll-on-page-link(href='#about-me') Stuff About Me
        li.nav-link
          a.scroll-on-page-link(href='#stuff-i-made') Stuff I Made
        li.nav-link
          a.scroll-on-page-link(href='#stuff-i-know') Stuff I Know
        li.nav-link
          a(href='../images/resume.pdf') Resume
    .navigation-tools.hide
      ul.js-navigation-menu.navigation-menu
        li.nav-link
          a(href='https://github.com/dyep49', target='_blank')
            i.fa.fa-github-square
        li.nav-link
          a(href='https://www.linkedin.com/in/dylanyep', target='_blank')
            i.fa.fa-linkedin
        li.nav-link
          a(href='mailto:dyep49@gmail.com')
            i.fa.fa-envelope-o
