include ./skills.jade
#stuff-for-hr
  h1
    i.fa.fa-check-square-o
    |   Checkboxes for HR
  +skill_list(skills, "Language", "btn-lang")
  +skill_list(skills, "Library/Framework", "btn-lib")
  +skill_list(skills, "Everything Else", "btn-devops")
