#stuff-i-know.do-container
  h1
    i.fa.fa-tasks
    |  Stuff I Know
  .language-chart.chart
  .footnote
    ul
      li *Familiar. Not comfortable implementing without extensive googling.
      li **Proficient. I use it on a regular basis.
      li ***Expert. Deep technical expertise in the subject.
  .mobile-legend
    ul
      li.language Language
      li.library Library/Framework
      li.devops Software/Management/Devops