@import url(http://fonts.googleapis.com/css?family=Domine);

.nav-wrapper {
	min-width: 100%;
	height: 10%;
}

#nav-bar {
	/*background: lightgrey;*/
	margin-bottom: 2em;
}

#nav-bar ul {
	/*margin-top: 1em;*/
	padding-top: 1em;
	margin-right: 1em;
}

#nav-bar li {
	display: inline;
	margin: .5em;
	font-size: 1.5em;
}

#nav-bar a {
	text-decoration: none;
}

.icon {
	height: 32px;
	width: 32px;
}

.nav-right{
	float: right;
}

#linkedin{
	margin: 17.5px;
}

a:hover {
	opacity: .5;
}

#name {
	font-size: 2.5em !important;
	font-family: 'Domine';
}

#name a{
	text-decoration: none
}


#mobile-header {
    display: none;
}

.sec-title {
	margin-bottom: 2em;
	border-bottom: 1px solid black;
}

.sec-title h2{
	padding: .3em, .3em, .1em, .3em;	
}

#me{
	border-radius: 2em;
}

#about-me{
 margin: 0px !important;
}

.inner-div{
	margin: 0em 3em 0em 3em;
}

#project-slider {
	text-align: center;
}

.slide-text {
	margin: 1em 3em 0em 3em;
}

.owl-prev {
	display: inline-block;
}

.owl-next {
	display: inline-block;
}

.skill {
	border-right: 1px solid black;
/*	margin-right: 5px !important;
	margin-left: 5px !important;
*/	margin: 0px !important;
}

.skill:nth-child(3) ul {
	text-align: center !important;
}

.skill:nth-child(3) li {
	text-align: center;
}

.skill:last-child {
	border-right: none;
}

.skill h4{
	text-align: center;
}

#languages {
	margin-left: .1em !important;
}

.half-left {
	width: 50%;
	float: left;
	text-align: center;
}

.half-right {
	width: 50%;
	float: right;
	text-align: center;
}

.center {
	text-align: center;
}

.contact {
	margin-top: 4em;
}

.container {
	padding-bottom: 5em;
}
